{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Pay | Stack Coin{% endblock %}

{% block content %}
<form method="post" action="." class="card border-0 shadow-sm">
  {% csrf_token %}
    <div class="card-body">
      <div class="mb-4">
        <h2 class="h5 mb-1">Send Payment</h2>
        <p class="text-secondary mb-0">Enter a 10 digit mobile number and transfer amount.</p>
      </div>

      {% bootstrap_form transaction_form %}

      <div class="d-grid mt-4">
        {% bootstrap_button button_type="submit" content="Pay" button_class="btn-primary" id="payBtn" %}
      </div>
    </div>
</form>

{% endblock %}

{% block js %}
<script>
  $("#id_receiver").on("input", function(){
    let username = $(this).val();
    if(username.length === 10){
      $.ajax({
        url: '/ajax/',
        method: 'POST',
        headers: { 'X-CSRFToken': $('[name=csrfmiddlewaretoken]').val() },
        data: { username },
      }).done(function(data) {
        $('label[for="id_receiver"]').html(`Send money to ${data.first_name}:`);
        $('#payBtn').prop('disabled', false);
      })
      .fail(function (xhr) {
        $('label[for="id_receiver"]').html(`Send money to <br>"Error: ${xhr.responseJSON.error}"`);
        $('#payBtn').prop('disabled', true);
      });
    } else {
      $('label[for="id_receiver"]').html(`Send money to:`);
      $('#payBtn').prop('disabled', true);
    }
  });
</script>
{% endblock %}
